
.class_counter_div{
    padding: 5% 5%;
    background-color: rgba(22, 23, 23, 0.362);
    border-radius: 20px;
    box-shadow: 2px 2px 10px black   ;
    text-align: center;
    width: 20rem;
    height: 25rem;
}
/* h2{
    text-decoration: underline;
    

}
.count2{
    font-size: 5rem;
    margin: 0px 0 20px 0;
    
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
.buttons button{
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border:  1px solid orange;
}
.buttons button:hover{
    background-color: rgba(98, 96, 96, 0.094);
    border: none;
}
.buttons button:active{
    border: none;

}
.reset-btn{
    margin-top: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    
} */
